<div class="container mt-5">
    <div class="row">
      <div class="col-sm">
        <button mat-fab>
            <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="col-sm">
        <button mat-fab>
            <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="col-sm">
        <button mat-fab>
            <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <button mat-fab>
                <mat-icon>add</mat-icon>
            </button>
          </div>
          <div class="col-sm">
            <button mat-fab>
                <mat-icon>add</mat-icon>
            </button>
          </div>
          <div class="col-sm">
            <button mat-fab>
                <mat-icon>add</mat-icon>
            </button>
          </div>
      </div>
      <div class="row">
        <div class="col-sm">
            <button mat-fab>
                <mat-icon>add</mat-icon>
            </button>
          </div>
          <div class="col-sm">
            <button mat-fab>
                <mat-icon>add</mat-icon>
            </button>
          </div>
          <div class="col-sm">
            <button mat-fab>
                <mat-icon>add</mat-icon>
            </button>
          </div>
      </div>
  </div>
